name: CI Test

on:
  pull_request:
    branches: main

jobs:
  runtestcontainer:
    runs-on: ubuntu-latest
    container: ghcr.io/star-bnl/star-test-data
    steps:
      - run: ls -la /
      - run: find /star-test-data
