name: CI Build

on: [pull_request]

jobs:
  ROOT5:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build with Docker
        uses: docker/build-push-action@v2
        with:
          cache-from: type=registry,ref=ghcr.io/star-bnl/star-sw-root5-base@sha256:bc73379c552ff02181d9c6778ff64bece4f11c5a2aaf75fd23cd62d9af6b8349
          push: false
          tags: ghcr.io/star-bnl/star-sw-root5-build
          file: docker/Dockerfile.root5
